:root {
	--purple: #570268;
}


table {
    border-collapse: collapse;
    width: 65%;
    font-family: Arial;
	font-size: 14px;
	line-height: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2
}

th {
    background-color: var(--purple);
    color: white;
}