:root {
	--purple: #570268;
}

.close-all {
    font-family: Arial;
    font-size: 12px;
    margin-top: 20px;
    width: 0;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    opacity: 0;
    overflow: hidden;
    transition: all 0.25s;
}

.close-all-visible {
    opacity: 1;
    width: 100px;
}

.close-all-visible:hover {
    background: #efeded;
}

.qa {
    width: 80%;
    margin: 20px 3% 40px 0;
    background: #f0f0f0;
    border: 1px #dcdcdc solid;
    border-bottom-width: 2px;
}

.qa:hover {
    border-color: var(--purple);
}

.question {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    padding-right: 10px;
}

.answer-click {
    max-height: 50vh;
    padding: 0 10px 10px 30px;
}


@media (max-width: 550px) {

    .qa {
        width: 92%;
    }

    .question {
        font-size: 11px;
    }
    .close-all-visible {
        width: 70px;
    }
}