:root {
	--purple: #570268;
}

.divider {
	width: 80%;
	height: 1px;
	background: grey;
	margin: 50px 0 50px 10%;
}

.resource-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.resource-title {
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	margin: 30px 0 10px 0;
}

.resource-description {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
	line-height: 18px;
	font-family: Arial;
	font-size: 14px;
    text-indent: 2.0em; 
}

.resource-link {
	width: 90%;
	margin-left: 5%;
	line-height: 18px;
	font-family: Arial;
	font-size: 14px;
	word-spacing: 5px;
 }

 img{
 	border: 1px #e2e2e2 solid;
 }

 a {
 	color: black;
 }

 a:hover {
 	color: var(--purple);
 }



@media (max-width: 550px) {

	img {
		max-width: 50%;
		max-height: 50%;
	}

	.resource-title {
		font-size: 13px;
	}

	.resource-description {
		font-size: 11px;
		line-height: 15px;
	}

	.resource-link {
		font-size: 11px;
	}

}